<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySqlConnector" version="0.9.1" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="xamarinios10" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.IO" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.IO.Compression" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Net.NameResolution" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Net.Security" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Xb.Core" version="1.0.5" targetFramework="xamarinios10" />
</packages>